.single-box-container{
    border-bottom: black solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
}
.single-box-data{
    text-align: center;
}
.MuiOutlinedInput-notchedOutline {
    border-color: black !important;
    border-width: 2px !important;
}