.gb-container{
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/football-stadium.jpeg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

}
.header{
  width: 100%;
  position:fixed;
  height: 50px;
  top: 60px;
  background-color: #c0c0c0;
  z-index: 100;
}

.content{
  position: relative;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blur-background{
  display: flex;
  align-items: center;
  justify-content: space-around;

width: 350px;
  height: 100px;
  background-color: black;
  color: white;
  opacity: 0.5;
}